
/* start home  */
.home-content {
    display: flex;
  }
  
  @media (max-width: 786px) {
    .home-content {
      flex-direction: column;
    }
  }
  
  .home-content .text {
    text-align: center;
    flex-grow: 1;
    padding-top: 25px;
  }
  
  .home-content .text h1 {
    color: var(--gray-color);
    font-size: 70px;
  }
  
  .home-content .text h2 {
    color: var(--gray-color);
    font-size: 42px;
  }
  .home-content .text p {
    max-width: 400px;
    margin: 10px auto;
  }
  .home-content .text button {
    cursor: pointer;
    background-color: var(--orange-color);
    padding: 6px 12px;
    border: 1px solid var(--orange-color);
    border-radius: 34px;
    margin-top: 20px;
    color: red;
  }
  
  @media (max-width: 768px) {
    .home-content .text h1 {
      font-size: 50px;
    }
  
    .home-content .text h2 {
      font-size: 30px;
    }
    .home-content .text p {
      font-size: 15px;
    }
  }
  
  .home-content .text button:hover {
    color: var(--orange-color);
    background-color: white;
  }
  
  .home-image {
    text-align: center;
    max-width: 600px;
  }
  
  .home-image img {
    max-width: 80%;
  }
  
  /* end home  */